select{
    border: thin solid grey;
}
input{
    border: thin groove rgba(231, 226, 226, 0.726);
    
    
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }